@import 'variables';

.console {
  height: $heightFrame;
  overflow-y: hidden;
  padding: $remSmall;
  background: $gray_dark;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  
  .user_input {
    display: grid;
    grid-template-columns: min-content auto;
    margin-bottom: $remSmall;

    span {
      color: $white;
    }

    input {
      background: none;
      border: none;
      padding-left: .5rem;
      color: $white;
      width: 100%;
    }
  }
}