@import 'variables';

.eo_nav {
  .logo a, .gout a {
    z-index: 10;
    position: absolute;
    width: 32px;
    height: 32px;
    right: $remMedium;

    @media screen and (max-width: $mobile) {
      width: 24px;
      height: 24px;
      right: $remSmall;
    }

    path {
      @include elements_trasition;
    }

    .circle {
      fill: $blue;
      &:hover {
        fill: lighten($color: $blue, $amount: 5);
      }
    }

    .square {
      fill: $pink;
      &:hover {
        fill: lighten($color: $pink, $amount: 10);
      }
    }

    .triang {
      fill: $blue_light;
      &:hover {
        fill: lighten($color: $blue_light, $amount: 15);
      }
    }

    .logout {
      fill: $gray;
      &:hover {
        fill: lighten($color: $gray, $amount: 10);
      }
    }
  }

  .logo a {
    top: $remMedium;
    @media screen and (max-width: $mobile) {
      top: $remSmall;
    }
  }

  .gout a {
    bottom: $remMedium;
    @media screen and (max-width: $mobile) {
      bottom: $remSmall;
    }
  }
}