@import 'variables';

footer {
  text-align: center;
  margin-bottom: $remSmall;
  .link {
    @include elements_trasition;

    display: inline-block;
    color: $blue_light;
    text-decoration: none;
    padding: 2px 12px;
    background-color: transparent;
    border-right: 1px solid darken($color: $blue_light, $amount: 10);
    font-size: .7rem;

    @media screen and (max-width: $mobile) {
      font-size: .6rem;
      padding: 2px 4px;
      border: none;
    }

    &:last-child {
      border: none;
    }
  }
}
