<header>
  <a class="link" [routerLink]="'/'">Home</a>
  <a class="link" [routerLink]="'/about-me'">About Me</a>
  <a class="link" target="_blank" href="/files/GS-CV-Codefolio-2019.pdf">Portfolio</a>

  <span class="logo">
    <a [routerLink]="'/'">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 446 446">
        <path class="circle" d="M223 223L65.315 380.685A223.079 223.079 0 0 1 0 223C0 100.666 100.666 0 223 0a223.079 223.079 0 0 1 157.685 65.315z" />
        <path class="square" d="M223 223h223v223H223z" />
        <path class="triangle" d="M223 446H0l223-223v223z" />
      </svg>
    </a>
  </span>
</header>