// colors
$white: #ffffff;
$gray: #a1a1a1;
$gray_dark: #101415;
$black: #0d1112;
$yellow: #ffd549;
$blue: #3e6cdd;
$blue_light: #7fdce8;
$pink: #eb008b;
$red: #ff4949;
$green: #19cc95;

$primary: $blue;
$primary_hover: lighten($blue, 7%);
$secondary: $pink;
$secondary_hover: lighten($pink, 5%);

// layout
$radiousNormal: 4px;
$borderNormal: 2px;
$remExtrasmall: 0.5rem;
$remSmall: 1.5rem;
$remMedium: 3rem;
$remLarge: 5rem;

// media screen
$mobile: 756px;

// fonts
@mixin fontNormal {
  font-size: 1rem;
  @media screen and (max-width: $mobile) {
    font-size: .9rem;
  }
}

@mixin fontMedium {
  font-size: .9rem;
  @media screen and (max-width: $mobile) {
    font-size: .8rem;
  }
}

@mixin fontSmall {
  font-size: .8rem;
  @media screen and (max-width: $mobile) {
    font-size: .7rem;
  }
}

@mixin fontH1 {
  font-size: 2.4rem;
  @media screen and (max-width: $mobile) {
    font-size: 2.2rem;
  }
}

@mixin fontH2 {
  font-size: 2.2rem;
  @media screen and (max-width: $mobile) {
    font-size: 2rem;
  }
}

@mixin fontH3 {
  font-size: 2rem;
  @media screen and (max-width: $mobile) {
    font-size: 1.8rem;
  }
}

@mixin fontH4 {
  font-size: 1.8rem;
  @media screen and (max-width: $mobile) {
    font-size: 1.6rem;
  }
}

@mixin fontH5 {
  font-size: 1.6rem;
  @media screen and (max-width: $mobile) {
    font-size: 1.4rem;
  }
}

@mixin fontH6 {
  font-size: 1.4rem;
  @media screen and (max-width: $mobile) {
    font-size: 1.2rem;
  }
}

// button
@mixin clean_button {
  border: none;
  box-shadow: none;
  text-shadow: none;
}
@mixin elements_trasition {
  transition: .2s ease-in-out;
}

/* Shadows */
@mixin soft_shadow {
  box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.1);
}
