@import 'variables';

.home_body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $remMedium;
  
  @media screen and (max-width: $mobile) {
    grid-template-columns: auto;
  }

  .presentation {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: max-content auto;
    height: $heightFrame;
    padding: $remSmall;

    .description {
      align-self: start;

      h1 {
        font-size: 1.8rem;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        margin-bottom: $remXmall;
        letter-spacing: .15em;
      }
  
      p {
        font-size: 1rem;
        line-height: 1.4;
        font-weight: normal;
        text-transform: uppercase;
      }
    }

    .socialmedia {
      align-self: end;
      text-align: right;
      
      .title {
        font-size: .9rem;
        color: $blue_light;
      }

      .icons {
        margin-top: $remXmall;
        a {
          margin-right: $remXmall;
          &:last-child {
            margin: 0;
          }

          svg {
            @include elements_trasition;
            fill: $white;
            width: $remSmall;
            height: $remSmall;
            &:hover {
              fill: $blue_light;
            }
          }
        }
      }
    }
  }

  app-widget-console {

  }
}